@import 'reset';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/purple';
@import 'map-leaflet';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.webpack.css';
@import url('https://unpkg.com/leaflet@1.3.3/dist/leaflet.css');

.sr-only {
    display: none;
}

.leaflet-bottom.leaflet-right {
    display: none;
}

.app {
    font: var(--font-m);
    font-family: Inter, sans-serif;
    background: var(--token-nelset-base-colors-primary-50);
    color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;

    &--clear {
        grid-template-columns: 1fr;
    }
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.content-page {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr max-content;
    padding: 0 10px 30px 10px;
    background-color: var(--color-primary-50);
    width: 100%;

    &--clear {
        width: 100%;
    }
}

.content {
    grid-column: 1/3;
    padding-top: 24px;
}

.active {
    width: max-content;
    padding: 2px 8px 2px 20px;
    background-color: #ECFDF3;
    color: #16B86C;
    border-radius: 16px;
    position: relative;

    &::after {
        content: '';
        left: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #16B86C;
        display: block;
        position: absolute;
        top: calc(50% - 3px);
    }
}

.blocked {
    width: max-content;
    padding: 2px 8px 2px 20px;
    background-color: #FECEC8;
    color: #FE6D6D;
    border-radius: 16px;
    position: relative;

    &::after {
        content: '';
        left: 7px;
        height: 6px;
        width: 6px;
        border-radius: 50%;
        background-color: #FE6D6D;
        display: block;
        position: absolute;
        top: calc(50% - 3px);
    }
}