@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import url("https://unpkg.com/leaflet@1.3.3/dist/leaflet.css");

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.content-page {
    margin-left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width) - 17px);
    overflow-x: hidden;
}

.leaflet-container {
    width: 100%;
    height: 700px;
}

.leaflet-touch .leaflet-control-attribution {
    display: none;
}

.leaflet-top {
    bottom: 0;
    top: unset;
}

.leaflet-left {
    right: 0;
    left: unset;
}
