@import 'reset';
@import 'app/styles/variables/global.scss';
@import 'app/styles/themes/dark.scss';
@import 'app/styles/themes/light.scss';
@import 'app/styles/themes/purple.scss';
@import 'app/styles/themes/blue.scss';
@import 'map-leaflet';
@import 'leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.webpack.css';
@import 'leaflet/dist/leaflet.css';
@import 'leaflet-draw/dist/leaflet.draw.css';
@import url('https://unpkg.com/leaflet@1.3.3/dist/leaflet.css');


.app {
    font: var(--BodyMd);
    font-family: Inter, sans-serif;
    color: var(--token-nelset-base-colors-neutral-800);
    min-height: 100vh;
    display: grid;
    grid-template-columns: max-content 1fr;

    &--clear {
        grid-template-columns: 1fr;
    }
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}

.content-page {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 1fr max-content;
    background-color: var(--token-nelset-base-colors-white-0);
    width: 100%;
    padding-bottom: 30px;
}

.content {
    grid-column: 1/3;
    padding: 0 10px 0 10px;
}

.active {
    width: max-content;
    padding: 2px 8px;
    background-color: var(--token-nelset-base-colors-success-200);
    color: var(--token-nelset-base-colors-success-700);
    border-radius: 16px;
    font-size: 12px;
    position: relative;
}

.blocked {
    width: max-content;
    padding: 2px 8px;
    background-color: var(--token-nelset-base-colors-error-200);
    color: var(--token-nelset-base-colors-error-700);
    border-radius: 16px;
    font-size: 12px;
    line-height: 1.3;
    position: relative;
}

.leaflet-bottom.leaflet-right {
    display: none;
}

.footer-btn {
    width: calc(100%);
    position: absolute;
    top: 100%;
    margin: 0 -24px -24px;
    background-color: var(--token-nelset-base-colors-primary-50);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 24px;
}