.themeItem {
    width: 30px;
    height: 30px;
    border-radius: var(--radius-base-min);
    cursor: pointer;
}

.themeSwitcher {
    max-width: 250px;
    height: 40px;
    border: 1px solid #9f9f9f;
    position: relative;
    border-radius: 12px;
    display: grid;
    align-items: center;
    padding: 0 8px;
}

.iconColor {
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.themeLabel {
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
    color: var(--token-nelset-base-colors-neutral-700);
}

.themeName {
    display: grid;
    align-items: center;
    gap: 11px;
    grid-template-columns: max-content 1fr;
    cursor: pointer;
}

.themeList {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    border-radius: var(--radius-base);
    border: 1px solid #9f9ea4;
    background: #fff;
    top: calc(100% + 24px);
    width: 100%;
    max-width: 175px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
