.LoginForm {
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
    height: max-content;
    background-color: var(--color-primary-200);
    padding: 32px;
    border-radius: var(--radius-base);
    display: grid;
    gap: 16px;
}

.input {
    margin-top: 10px;
}
