

.cell {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: start;
    padding: 11px 12px;
}

.table {
    border-spacing: unset;
    border-left: 1px solid #EAECF0;
    border-right: 1px solid #EAECF0;
    width: 100%;
}

.table>:not(caption)>*>* {
    border-bottom: 1px solid #EAECF0;
}

.header th {
    background-color: #F9FAFB;
    font-size: 12px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.infoItems {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.widgets {
    display: flex;
    gap: 32px;
}