.calendar {
    display: block;

    &Grid {
        display: grid;
        grid-template-columns: 327px repeat(7, 1fr);
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        gap: 7px;
    }

    &List {
        border-top: 1px solid #e2e2e2;
    }

    &Actions {
        text-transform: capitalize;
        margin-bottom: 20px;
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: space-between;
        grid-auto-flow: column;

        &__btn {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &Prev i {
            margin-right: 8px;
        }

        &Next i {
            margin-left: 8px;
        }
    }

    &-month {
        font-size: 26px;
        font-weight: 400;
    }

    &Сell {
        min-height: 70px;
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 10px;
        position: relative;

        &::after {
            content: '';
            left: 0;
            top: calc(50% - 20px);
            height: 40px;
            width: 1px;
            background-color: var(--grey);
            position: absolute;
        }

        &__today {
            background: rgba(255, 220, 40, .15);
        }

        &__day {
            justify-self: end;
        }

        &--day {
            padding: 5px 0;
            display: flex;
            justify-content: center;
            font-weight: 700;
            font-size: 1rem;
            border-right: 1px solid #e2e2e2;
            color: #495d7c;
        }

        &__events {
            display: grid;
            gap: 10px;
        }

        &__description {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            cursor: pointer;

            &.active {
                display: block;
            }
        }
    }
}

.tableTitle {
    font-size: 24px;
    font-weight: 500;
    color: #121d22;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: max-content;
}

.tableAction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.tableCount {
    color: var(--grey);
    font-size: 12px;
    font-weight: 700;
    padding: 3px 11px;
    border: 1px solid #9F9EA4;
    border-radius: 5px;
    line-height: 1.2;
    height: max-content;
}

.calendarCell {
    padding: 8px 0;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #ECFDF3;
    border-radius: 12px;
    border: 1px solid #12B76A;
}

.calendarCell__weekday {
    margin: 0 auto;
}

.tableTochka {
    padding: 30px 20px;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: 14px;
}

.tableTochkaName {
    width: 40px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    grid-row: 1/3;
}

.tableAddress {
    font-size: 10px;
    color: var(--grey);
}

.tableName {
    font-size: 14px;
}

.tableTochkaName {
    background-color: var(--color-primary-800);
    color: white;
}

.basicInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.calendarCell__title {
    font-size: 12px;
    font-weight: 700;
}

.personalList {
    display: flex;
    column-gap: 10px;
    row-gap: 5px;
    max-width: 100%;
    flex-wrap: wrap;
}

.personalItem {
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    width: max-content;
    font-size: 10px;
}

.time {
    font-size: 10px;
}