.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    border-radius: 12px;
}

.wrapper {
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
    min-width: 680px;
    max-height: 100%;
    z-index: var(--modal-z-index);
}

.content {
    padding: 0 24px 20px;
    max-height: 90vh;
    overflow-y: auto;
}

.close {
    cursor: pointer;
    padding: 5px 0 5px 5px;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .wrapper {
        transform: scale(1);
    }
}

.isClosing {
    .wrapper {
        transform: scale(0.2);
    }
}

.header {
    padding: 12px 24px;
    background-color: var(--color-primary-50);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px 12px 0  0;
}

.title {
    margin-bottom: 0;
}

