.Button {
    cursor: pointer;
    //color: var(--primary-color);
}

.clear {
    width: max-content;
    min-width: 210px;
    height: 48px;
    background: var(--inverted-bg-color);
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    color: var(--white-color);
    margin: 0;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: var(--transition-base);
}

.outline {
    padding: 15px;
    border: 1px solid var(--primary-color);
    //color: var(--primary-color);
    background: none;
}

.add {
    color: var(--grey);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    gap: 6px;
    align-items: center;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    background-position: left;
}

.more {
    color: var(--inverted-bg-color);
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--inverted-bg-color);
}

.small {
    width: max-content;
    padding: 8px 16px;
    border-radius: var(--border-button-radius-300, 24px);
    background: var(--color-button-primary-default, #9E77ED);
    border: none;
    color: #fff;
}