.TextBlock {
    border-radius: 50%;
    background-color: var(--token-nelset-base-colors-primary-500);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    font-size: 16px;
    color: var(--token-nelset-base-colors-neutral-25);
}

.Avatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
