.Sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--sidebar-color);
    position: fixed;
    transition: width 0.3s;
}

.logo {
    display: grid;
    justify-content: center;
    margin: 10px 0 32px;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.lang {
    margin-left: 20px;
}

.menuList {
    overflow-y: auto;
    max-height: calc(100vh - 168px);

}

::-webkit-scrollbar {
    width: 4px;
    border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
}