.link {
    margin-left: 10px;
    opacity: 1;
    color: var(--token-nelset-base-colors-neutral-800);
    padding: 10px 0;
    display: block;
    font-size: var(--BodyMd);
}

.icon {
    fill: var(--token-nelset-base-colors-neutral-700);
}

.item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    cursor: pointer;
    font-size: var(--BodyMd);

    &:hover {
        border-radius: 0 12px 12px 0;
        background-color: var(--token-nelset-base-colors-primary-200);
    }
}

.collapsed {
    height: 37px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
        font-size: var(--BodyMd);
    }
}

.nestedListCollapse {
    & .itemNested {
        padding: 0 16px;
    }
}

.active .link {
    color: var(--token-nelset-base-colors-primary-700);
}

.active {
    background-color: var(--token-nelset-base-colors-primary-300);
    border-radius: 0 12px 12px 0;
}

.active svg path {
    stroke: var(--token-nelset-base-colors-primary-700);
}

.arrow {
    margin-left: 5px;
}

.itemNested {
    padding: 0 16px 0 25px;
    display: flex;

    &:hover {
        border-radius: 0 12px 12px 0;
        background-color: var(--token-nelset-base-colors-primary-200);
    }
}

.nestedList {
    transition: all 0.3s;
    max-height: 0;
    overflow: hidden;
    display: grid;
}

.nestedTitle {
    display: flex;
    align-items: center;
}

.nestedListCollapse {
    max-height: 1000px;
    transition: all 0.3s;
}
