.infoItems {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.infoWrapper {
    display: flex;
    align-items: center;
    background-color: var(--token-nelset-base-colors-primary-50);
    padding-left: 24px;
}
