

.wrapper {
    position: relative;
}

.checkbox {
    position: relative;
    display: none;

}

.checkbox~label {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
}

.checkbox~label::after {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    background-color: transparent;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: calc(50% - 10px);
    cursor: pointer;
}

.checkbox:checked~label::after  {
    background-color:  #D0D5DD;
}

.checkbox:checked~label::before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.text {
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    color: #9F9F9F;
}

.text~label {
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

.file {
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    color: #9F9F9F;
}

.file~label {
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

::-webkit-file-upload-button {
    display: none;
}

input {
    margin-bottom: 12px;
}

