.input {
    margin-bottom: 20px;
}

.input~label {
    color: var(--grey);
    border-color: var(--grey);
}

.wrapper {
    position: relative;
}



.text,
.password{
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    color: #9F9F9F;
}

.text~label,
.password~label{
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

.file {
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    border-radius: 5px;
    color: #9F9F9F;
}

.file~label {
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

::-webkit-file-upload-button {
    display: none;
}

input {
    margin-bottom: 12px;
}

