
.input~label {
    color: var(--grey);
    border-color: var(--grey);
}

.wrapper {
    position: relative;
    &.large {
        width: 100%;
        & input {
            width: 100%;

        }
    }
}

.text,
.password{
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    border-radius: var(--radius-base);
    color: var(--color-neutral-800);
}


input:focus {
    border: 1px solid var(--color-primary-800);
    outline: none;
}

input:focus~label {
    color: var(--color-primary-800);
}

.text~label,
.password~label{
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

.file {
    height: 40px;
    width: 250px;
    padding: 10px 8px;
    border: 1px solid #9F9F9F;
    color: #9F9F9F;
    border-radius: var(--radius-base);
}

.file~label {
    position: absolute;
    left: 10px;
    top: -12px;
    padding: 0 6px;
    font-size: 12px;
    background: #fff;
}

::-webkit-file-upload-button {
    display: none;
}

