h2 {
    margin-bottom: 32px;
}

.info {
    //max-width: 540px;
}

.edit {
    cursor: pointer;
}

.placeholder {
    width: 225px;
    height: 225px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.tarifs {
    grid-row: 1/3;
    grid-column: 2;
    height: max-content;
}

.tarifBlock {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;

    & p {
        font-size: 16px;
        line-height: 1.3;

        & + p {
            margin-top: 8px;
        }
    }
}

.btn {
    align-self: end;
}

.tarifItem {
    padding: 40px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 6%);
}

.tarifTitle {
    margin-bottom: 30px;
}

.TarifsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.extra {
    max-width: 540px;
    margin-bottom: 50px;
}

.description {
    margin-bottom: 20px;
}

.accountWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
