h2 {
    margin-bottom: 32px;
}

.info {
    max-width: 540px;
}

.edit {
    cursor: pointer;
}

.placeholder {
    width: 225px;
    height: 225px;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.tarifBlock {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.tarifBlock p {
    font-size: 16px;
    line-height: 1.3;
}

.tarifBlock p + p {
    margin-top: 8px;
}

.info {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.btn {
    height: max-content;
    align-self: end;
}

.tarifItem {
    padding: 40px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.06);
}

.tarifTitle {
    margin-bottom: 30px;
}

.TarifsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tarifName {
    color: var(--grey);
    margin-bottom: 30px;
    font-size: 18px;
}

.tarifLi {
    display: flex;
    gap: 5px;
    align-items: center;
}

.tarifUl {
    color: var(--grey);
    margin-bottom: 12px;
}

.subtitle {
    margin-bottom: 30px;
    font-weight: 400;
}

.Price {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

.extra {
    max-width: 540px;
    margin-bottom: 50px;
}

.description {
    margin-bottom: 20px;
}