h2 {
    margin-bottom: 32px;
}

.tariffsInfo {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.edit {
    cursor: pointer;
}

.placeholder {
    width: 225px;
    height: 225px;
    background-color: var(--token-nelset-base-colors-primary-50);
    border-radius: 5px;
}

.tariffs {
    grid-row: 1/3;
    grid-column: 2;
    height: max-content;
}

.tariffBlock {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;

    & p {
        font-size: 16px;
        line-height: 1.3;

        & + p {
            margin-top: 8px;
        }
    }
}

.btn {
    align-self: end;
}

.tariffItem {
    padding: 40px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px 0 rgb(0 0 0 / 6%);
}

.tariffTitle {
    margin-bottom: 30px;
}

.TariffsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.extra {
    max-width: 540px;
    margin-bottom: 50px;
}

.description {
    margin-bottom: 20px;
}

.accountWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}


.LegalPerson {
    max-width: 540px;
}

.branches {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 8px;
    margin-bottom: 12px;
}

.filial {
    display: grid;
    gap: 8px;
    height: max-content;
    color: var(--grey);
    padding: 20px;
    border: 1px solid #dedede;
    border-radius: var(--radius-base);
}

.filialTitle {
    font-size: 18px;
    font-weight: 500;
}

.filialStatus {
    color: var(--color-green);
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 12px;
}

.filialDot {
    background-color: var(--color-green);
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.filialInfo {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    align-items: center;
    gap: 10px;
}
