.cell {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: start;
    padding: 11px 12px;
}

.table {
    border-spacing: unset;
    border-left: 1px solid #eaecf0;
    border-right: 1px solid #eaecf0;
    width: 100%;
}

.table > :not(caption) > * > * {
    border-bottom: 1px solid #eaecf0;
}

.header th {
    background-color: #f9fafb;
    font-size: 12px;
}
