.app.dark {
    --token-nelset-base-colors-white-0:  #201d23;
    --token-nelset-base-colors-neutral-25: #010101;
    --token-nelset-base-colors-neutral-50: #040608;
    --token-nelset-base-colors-neutral-100: #0e1216;
    --token-nelset-base-colors-neutral-200: #1a1f25;
    --token-nelset-base-colors-neutral-300: #272e36;
    --token-nelset-base-colors-neutral-400: #272e36;
    --token-nelset-base-colors-neutral-500: #353d47;
    --token-nelset-base-colors-neutral-600: #434d59;
    --token-nelset-base-colors-neutral-700: #515d6c;
    --token-nelset-base-colors-neutral-800: #fff;
    --token-nelset-base-colors-neutral-900: #fff;
    --token-nelset-base-colors-primary-25: #fcfaff;
    --token-nelset-base-colors-primary-50: #f9f5ff;
    --token-nelset-base-colors-primary-100: #f4ebff;
    --token-nelset-base-colors-primary-200: #d1d1d3;
    --token-nelset-base-colors-primary-300: #d1d1d3;
    --token-nelset-base-colors-primary-400: #d1d1d3;
    --token-nelset-base-colors-primary-500: #d1d1d3;
    --token-nelset-base-colors-primary-600: #d1d1d3;
    --token-nelset-base-colors-primary-700: #e1dbd6;
    --token-nelset-base-colors-primary-800: #f9f6f2;
    --token-nelset-base-colors-primary-900: #fefefe;
    --token-nelset-base-colors-error-25: #fffbfa;
    --token-nelset-base-colors-error-50: #fef3f2;
    --token-nelset-base-colors-error-100: #fee4e2;
    --token-nelset-base-colors-error-200: #fecdca;
    --token-nelset-base-colors-error-300: #fda29b;
    --token-nelset-base-colors-error-400: #f97066;
    --token-nelset-base-colors-error-500: #f04438;
    --token-nelset-base-colors-error-600: #d92d20;
    --token-nelset-base-colors-error-700: #b42318;
    --token-nelset-base-colors-error-800: #912018;
    --token-nelset-base-colors-error-900: #7a271a;
    --token-nelset-base-colors-success-25: #f6fef9;
    --token-nelset-base-colors-success-50: #ecfdf3;
    --token-nelset-base-colors-success-100: #d1fadf;
    --token-nelset-base-colors-success-200: #a6f4c5;
    --token-nelset-base-colors-success-300: #6ce9a6;
    --token-nelset-base-colors-success-400: #32d583;
    --token-nelset-base-colors-success-500: #12b76a;
    --token-nelset-base-colors-success-600: #039855;
    --token-nelset-base-colors-success-700: #027a48;
    --token-nelset-base-colors-success-800: #05603a;
    --token-nelset-base-colors-success-900: #054f31;

    //BORDER_RADIUS
    --size-border-button-radius-300: 24px;
}
