:root {
    --bg-color: #f8f8fb;
    --inverted-bg-color: #2a3042;
    --primary-color: #000;
    --secondary-color: #a6b0cf;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
