:root {
    --bg-color: #fff;
    --inverted-bg-color: #2a3042;
    --primary-color: #000;
    --secondary-color: #667085;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
    --grey: #9C9C9C;
}
