:root {
    --token-nelset-base-colors-white-0: #ffffffff;
    --token-nelset-base-colors-neutral-25: #f5f5f5ff;
    --token-nelset-base-colors-neutral-50: #e4e2e7ff;
    --token-nelset-base-colors-neutral-100: #d6d3dbff;
    --token-nelset-base-colors-neutral-200: #c9c5ceff;
    --token-nelset-base-colors-neutral-300: #bbb6c2ff;
    --token-nelset-base-colors-neutral-400: #aea8b6ff;
    --token-nelset-base-colors-neutral-500: #a099aaff;
    --token-nelset-base-colors-neutral-600: #7f768dff;
    --token-nelset-base-colors-neutral-700: #5f586aff;
    --token-nelset-base-colors-neutral-800: #403b46ff;
    --token-nelset-base-colors-neutral-900: #201d23ff;
    --token-nelset-base-colors-primary-25: #fcfaffff;
    --token-nelset-base-colors-primary-50: #f9f5ffff;
    --token-nelset-base-colors-primary-100: #f4ebffff;
    --token-nelset-base-colors-primary-200: #e9d7feff;
    --token-nelset-base-colors-primary-300: #d6bbfbff;
    --token-nelset-base-colors-primary-400: #b692f6ff;
    --token-nelset-base-colors-primary-500: #9e77edff;
    --token-nelset-base-colors-primary-600: #7f56d9ff;
    --token-nelset-base-colors-primary-700: #6941c6ff;
    --token-nelset-base-colors-primary-800: #53389eff;
    --token-nelset-base-colors-primary-900: #42307dff;
    --token-nelset-base-colors-error-25: #fffbfaff;
    --token-nelset-base-colors-error-50: #fef3f2ff;
    --token-nelset-base-colors-error-100: #fee4e2ff;
    --token-nelset-base-colors-error-200: #fecdcaff;
    --token-nelset-base-colors-error-300: #fda29bff;
    --token-nelset-base-colors-error-400: #f97066ff;
    --token-nelset-base-colors-error-500: #f04438ff;
    --token-nelset-base-colors-error-600: #d92d20ff;
    --token-nelset-base-colors-error-700: #b42318ff;
    --token-nelset-base-colors-error-800: #912018ff;
    --token-nelset-base-colors-error-900: #7a271aff;
    --token-nelset-base-colors-success-25: #f6fef9ff;
    --token-nelset-base-colors-success-50: #ecfdf3ff;
    --token-nelset-base-colors-success-100: #d1fadfff;
    --token-nelset-base-colors-success-200: #a6f4c5ff;
    --token-nelset-base-colors-success-300: #6ce9a6ff;
    --token-nelset-base-colors-success-400: #32d583ff;
    --token-nelset-base-colors-success-500: #12b76aff;
    --token-nelset-base-colors-success-600: #039855ff;
    --token-nelset-base-colors-success-700: #027a48ff;
    --token-nelset-base-colors-success-800: #05603aff;
    --token-nelset-base-colors-success-900: #054f31ff;
}
