.Navbar {
    width: 100%;
    height: max-content;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: auto;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.time {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.infoItems {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.widgets {
    display: flex;
    gap: 32px;
}

.datatime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date {
    font-size: 16px;
}