.Navbar {
    width: 100%;
    height: 100%;
    background: var(--token-nelset-base-colors-white-0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
    grid-column: 2/3;
    grid-row: 1;
    padding-right: 24px;
}

.tariffWrapper {
    display: grid;
    align-items: center;
    height: max-content;
    margin: auto 0;
}

.tariffTitle {
    font-size: var(--BodyMd);
    font-weight: 600;
    line-height: 20px;
}

.btnTheme {
    background-color: var(--token-nelset-base-colors-primary-500);
}

.tariffDescr {
    font-size: var(--BodySm);
    line-height: 16px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.title {
    font-size: var(--HeadingXl);
    font-weight: 500;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.infoItems {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.widgets {
    display: flex;
    gap: 16px;
    align-items: center;
}

.notification {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--token-nelset-base-colors-primary-200);
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;

    &Counter {
        position: absolute;
        right: -5px;
        top: -5px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: var(--token-nelset-base-colors-white-0);
        background-color: red;
        align-items: center;
        justify-content: center;
        display: grid;

        & span {
            font-size: 10px;
        }
    }
}

.datatime {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date {
    font-size: 16px;
}
