.tariffBlock {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

.tariffBlock p {
    font-size: 16px;
    line-height: 1.3;
}

.tariffBlock p + p {
    margin-top: 8px;
}

.info {
    display: grid;
    grid-template-rows: max-content max-content 1fr;
}

.btn {
    align-self: end;
}

.tariffTitle {
    margin-bottom: 30px;
    //@include Heading2Xl;
}

.TariffsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tariffName {
    color: var(--grey);
    margin-bottom: 30px;
    font-size: 18px;
}

.tariffLi {
    display: flex;
    gap: 11px;
    align-items: center;
    & + .tariffLi {
        margin-top: 8px;
    }
}

.tariffUl {
    color: var(--grey);
    margin-bottom: 12px;
}

.Price {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
}