.table {
    border-spacing: unset;
    width: max-content;
    min-width: 100%;
    padding: 12px 24px;
    background-color: var(--token-nelset-base-colors-white-0);
}

.tableWrapper {
    overflow: auto;
    &::-webkit-scrollbar {
        height: 4px;
    }
}

.header th {
    text-align: start;
    font-size: var(--ButtonSm);
    font-weight: 500;
    padding: 11px 12px;
}

table td {
    font-size: 14px;
    font-weight: 400;
    color: var(--BodyMd);
    text-align: start;
    padding: 11px 12px;

    & a {
        font-size: var(--BodyMd);
        font-weight: 400;
        color: var(--token-nelset-base-colors-neutral-700);
        text-align: start;
    }
}

thead {
    & th:first-child {
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }

    & th:last-child {
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    & th {
        background-color: var(--token-nelset-base-colors-primary-25);
    }
}

tbody td {
    border-bottom: 1px solid #EAE9EA;
    background-color: var(--token-nelset-base-colors-white-0);
}

tr:hover td {
    background-color: var(--token-nelset-base-colors-primary-50);
}