.table {
    border-spacing: unset;
    width: 100%;
}

.table > :not(caption) > * > * {
    //border-bottom: 1px solid #eaecf0;
}

.header th {
    text-align: start;
    font-size: 12px;
    font-weight: 500;
    padding: 11px 12px;
}

table td {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-color);
    text-align: start;
    padding: 11px 12px;

    & a {
        font-size: 14px;
        font-weight: 400;
        color: var(--secondary-color);
        text-align: start;
    }
}

thead {
    & th:first-child {
        border-top-left-radius: 32px;
        border-bottom-left-radius: 32px;
    }

    & th:last-child {
        border-top-right-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    & th {
        background-color: var(--token-nelset-base-colors-primary-25);
    }
}

tbody td {
    border-bottom: 1px solid #EAE9EA;
}