.inputGroup {
    background-color: var(--token-nelset-base-colors-white-0);
    border-radius: 24px;
    & + .inputGroup {
        margin-top: 40px;
    }
}

.inputGroupTitle {
    margin-bottom: 24px;
}

.columns {
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.inputWrapper {
    display: grid;
    gap: 20px;
}

.descr {
    width: max-content;
}
