input[type="checkbox"] {
    position: relative;
    display: none;
}

label:has(input[type="checkbox"]) {
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
}

label:has(input[type="checkbox"])::after {
    content: '';
    width: 16px;
    height: 16px;
    display: block;
    background-color: transparent;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    position: absolute;
    left: 0;
    top: calc(50% - 9px);
    cursor: pointer;
}

label:has(input[type="checkbox"]:checked)::after {
    background-color: #000;
}

label:has(input[type="checkbox"])::before {
    content: '';
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 10px;
    height: 10px;
    background-image: url("shared/assets/icons/arrow-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.label {
    padding-left: 28px;
}