input[type="checkbox"] {
    position: relative;
    display: none;
}

label:has(input[type="checkbox"]) {
    position: relative;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
}

.input {
    border: 2px solid #A099AA;
    border-radius: 4px;
    width: 16px;
    height: 16px;
    display: block;
}

.check {
    display: none;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% - 4px);
}

label:has(input:checked) .input {
    background-color: #5F586A;
    border-color: #5F586A;
}

label:has(input:checked) .check {
    display: block;
}

.label {
    padding-left: 28px;
}
